---
layout: BASE
---
{% if page.jump %}<script>window.location = "{{page.jump_url}}";</script>{% endif %}
<div class="container">
  <h4 class="red-text">{{ page.title }}</h4>
</div>
<div class="text container">
  <p class="grey-text">
    {{ page.date | date_to_string }}
    {% if page.author %}
      {% assign author = site.staffs | where: 'url_name', page.author | first %}
      {% if author %}
        <a href="{{ author.url }}">{{ author.name }}</a>
      {% endif %}
    {% endif %}
  </p>
  {{ content }}
  <div class="blank"></div>
</div>